.form-wizard-steps {
  margin-bottom: 40px; }

.tab-content {
  overflow: unset;
  padding-bottom: 20px; }
  .tab-content > .active .inputs {
    margin-bottom: 15px; }
    .tab-content > .active .inputs:last-child {
      margin-bottom: 0; }

.input-group {
  margin-bottom: 5px; }
  .input-group:last-child {
    margin-bottom: 0; }

.grid-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.grid.simple {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px; }
  .grid.simple .grids-body-wrapper {
    display: flex;
    flex-direction: column; }
    @media (min-width: 576px) {
      .grid.simple .grids-body-wrapper {
        flex-direction: row; } }
  .grid.simple .grid-body {
    flex: 1 0;
    padding: 15px; }

.grid-title {
  align-items: center;
  display: flex;
  height: 36px;
  padding: 0 0 0 15px; }
  .grid-title h4 {
    margin-bottom: 0;
    width: 100%; }

.template-100 .grid {
  width: 100%; }

.template-50 .grid {
  width: 100%; }
  @media (min-width: 576px) {
    .template-50 .grid {
      width: calc(50% - 6px); } }

.template-33 .grid {
  width: 100%; }
  @media (min-width: 576px) {
    .template-33 .grid {
      width: calc(50% - 6px); } }
  @media (min-width: 768px) {
    .template-33 .grid {
      width: calc(33% - 6px); } }
  @media (min-width: 1200px) {
    .template-33 .grid {
      width: calc(25% - 12px); } }

.radio label::before, .radio label::after {
  left: 0;
  top: 1px; }

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center; }

.pager {
  bottom: 40px;
  display: flex;
  padding: 0 19px;
  width: 100%;
  z-index: 100; }
  .pager li {
    flex: 1;
    padding: 0; }
    .pager li > a {
      font-size: 16px;
      padding: 7px 18px;
      width: calc(100% - 5px); }

.flex-column {
  flex-direction: column; }

/*# sourceMappingURL=styles.css.map */
