$screen-xs: 576px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

// Bootstrap wizard
.form-wizard-steps {
  margin-bottom: 40px;
}

.tab-content {
  overflow: unset;
  padding-bottom: 20px;

  > .active .inputs {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.input-group {
  margin-bottom: 5px;

  &:last-child {
    margin-bottom: 0;
  }
}

.grid-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.grid.simple {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  .grids-body-wrapper {
    display: flex;
    flex-direction: column;

    @media (min-width: $screen-xs) {
      flex-direction: row;
    }
  }

  .grid-body {
    flex: 1 0;
    padding: 15px;
  }
}

.grid-title {
  align-items: center;
  display: flex;
  height: 36px;
  padding: 0 0 0 15px;

  h4 {
    margin-bottom: 0;
    width: 100%;
  }
}

// Template class
.template-100 .grid {
  width: 100%;
}

.template-50 .grid {
  width: 100%;

  @media (min-width: $screen-xs) {
    width: calc(50% - 6px);
  }
}

.template-33 .grid {
  width: 100%;

  @media (min-width: $screen-xs) {
    width: calc(50% - 6px);
  }

  @media (min-width: $screen-sm) {
    width: calc(33% - 6px);
  }

  @media (min-width: $screen-lg) {
    width: calc(25% - 12px);
  }
}

// Fix for dots on Windows with scaled page
.radio label {
  &::before,
  &::after {
    left: 0;
    top: 1px;
  }
}

// Helper class to center elements
.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.pager {
  bottom: 40px;
  display: flex;
  padding: 0 19px;
  width: 100%;
  z-index: 100;

  li {
    flex: 1;
    padding: 0;

    > a {
      font-size: 16px;
      padding: 7px 18px;
      width: calc(100% - 5px);
    }
  }
}

.flex-column {
  flex-direction: column;
}
